body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(0, 0, 0);
}

.navbar {
    width: 100%;
    background-color: #383839;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 80px;
}

.navbar a {
    text-decoration: none;
    width: 90px;
    float: left;
}

.navbar a:hover {
    text-decoration: none;
}

.navbar button {
    float: right;
    height: 50px;
    width: 50px;
    margin: 15px 15px 0 0;
    padding: 0;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.navbar button svg {
    height: 100%;
    width: 100%;
}

.p1 {
    color: #FF9501;
    margin: 10px 0 0 15px;
    padding: 0;
    font-size: 18px;
    width: 90px;
}

.p2 {
    color: #FF9501;
    margin: 0 0 0 15px;
    padding: 0;
    font-size: 25px;
    font-weight: bold;
    width: 90px;
}

.container {}

.pagination {
    background-color: #383839;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 120px;
    border: 0;
    position: fixed;
    /* 固定位置 */
    top: 80px;
    /* 距离页面顶部80px */
    left: 0px;
    /* 距离页面左侧0px */
    height: 100%;
    /* 适应屏幕高度 */
    overflow-y: auto;
    /* 如果内容超出高度则滚动 */
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    scrollbar-width: none;
    /* Firefox */
}

.pagination::-webkit-scrollbar {
    display: none;
    /* 隐藏滚动条（Webkit浏览器） */
}

.page-item {
    margin: 0;
    height: 120px;
    width: 120px;
}

.first {
    background-color: #7c7c7c;
}

.page-item a {
    text-decoration: none;
    color: #E1E1E1;
    padding: 0;
    border: 0;
    height: 120px;
    width: 120px;
    display: flex;
    /* 使用Flexbox */
    align-items: center;
    /* 垂直居中 */
    justify-content: center;
    /* 水平居中 */
    font-size: 16px;
}

.page-item a:hover {
    background-color: #525050;
    color: #E1E1E1;
}

.content-container {
    position: fixed;
    /* 固定位置 */
    top: 100px;
    /* 距离页面顶部100px */
    left: 140px;
    /* 距离页面左侧140px，避开pagination */
    width: 100%;
    /* 适应屏幕宽度*/
    height: 100%;
    /* 适应屏幕高度*/
    overflow-y: auto;
    /* 如果内容超出高度，显示滚动条 */
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    scrollbar-width: none;
    /* Firefox */
    padding: 0;
    color: white;
}

.content {
    display: none;
}

.content.active {
    display: block;
}